= render layout: 'page', locals: { supplier: @supplier, selected_tab: :product } do
  - @supplier.products.each do |product|
    .supplier-product-info
      = link_to product.name, product_path(product.slug)
