/*
Placeholder manifest file.
the installer will append this file to the app vendored assets here: 'vendor/assets/stylesheets/spree/frontend/all.css'
*/
.supplier-canopy {
  position: relative;
  margin-top: -20px;
}

.supplier-header {
  background: gray;
}

.supplier-header img {
  width: 100%;
}

.supplier-info {
  position: absolute;
  left: 15px;
  bottom: -50px;
}

.supplier-avatar {
}

.supplier-name {
  padding-top: 15px;
  font-size: 22px;
  font-weight: bold;
}

.supplier-avatar img {
  width: 200px;
  background: white;
  border-radius: 10px;
  border: 5px solid white;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
}

.supplier-nav {
  padding-left: 300px;
  padding-top: 15px;
  text-align: center;
}

.supplier-content {
  padding-top: 15px;
  padding-left: 300px;
}
